@model  IEnumerable<SaleSystem.Web.MVC.Models.Product>
@{
                /**/

                ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    if (this.User.IsInRole("admin"))
    {
        <p><a href="/Products/Create/">Добавить продукт</a></p>
    }
    <table class="table">
        @foreach(SaleSystem.Web.MVC.Models.Product product in ViewBag.Products)
        {

        <tr>
            <td>
                @Html.DisplayFor(model => product.Name)
            </td>
            @if (this.User.IsInRole("manager"))
            {
                <td>
                    @Html.ActionLink("Совершить продажу", "Create", "Sales", new { idProduct = product.Id }, null) |
                </td>
            }
            @if (this.User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Корректировка", "Edit", "Products", new { id = product.Id }, null) |
                    @Html.ActionLink("Детали", "Details", "Products", new { id = product.Id }, null) |
                    @Html.ActionLink("Удалить", "Delete", "Products", new { id = product.Id }, null)
                </td>
            }
        </tr>
        }
        </table>
 }
